
*.properties

htdocs/nbproject/private/private.xml

slocru/

.idea

.htaccess.*
backup.*
old_sites/
beta/
beta(old)/
cgi-bin/
crucentralcoast/
housing/
old_sites.tar.bz2
php.ini
robots.txt
top_link.png
uploads/
well/
